.Footer {
  margin-top: 3em;
  padding: 1.5em 1em;
  text-align: center;
  border-top: 1px solid #ccc;

  &__credits {
    margin: 0;
    font-size: .8em;
  }

  &__credits-icon {
    display: inline-block;
    margin-right: 3px;
  }

  &__version {
    display: inline-block;
    font-weight: bold;

    &::after {
      content: '-';
      display: inline-block;
      margin: 0 3px;
      font-weight: normal;
    }
  }
}
